@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf")
    format("truetype");
}
