:root {
  /* colors for light mode (BG & text) */
  --light-primary-color: #f0f4ff;
  --light-secondary-color: #c8ddff;
  --light-text-color: #01041b;

  /* colors for dark mode (BG & text) */
  --dark-primary-color: #01041b;
  --dark-secondary-color: #01062d;
  --dark-text-color: #f0f4ff;

  /* colors for light mode hover menus */
  --light-menu-hover: rgba(1, 4, 27, 0.05);

  /* colors for dark mode hover menus */
  --dark-menu-hover: rgba(240, 244, 255, 0.05);

  /* colors for dark and light mode */
  --button-hover-fill: rgba(34, 70, 205, 0.1);

  /* blue colors for light mode */
  --light-blue-normal: #355cef;
  --light-blue-hover: #2246cd;
  --light-blue-active: #1433ab;

  /* blue colors for dark mode */
  --dark-blue-normal: #6188ff;
  --dark-blue-hover: #4b6fdd;
  --dark-blue-active: #3858bb;
}
